@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='color'] {
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  margin: 0;
}

input[type='color']::-webkit-color-swatch {
  border: 0;
  border-radius: inherit;
}

input[type='color']::-moz-color-swatch {
  border: 0;
}
